body {

    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    display: block;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin-top: 0px;

}

.intro {

    display: flex;
    margin-left: 20%;
    margin-right: 20%;


}

.quiz-container {

    display: flex;
    margin-left: 20%;
    margin-right: 20%;


}

header {
    background-color: rgb(145, 255, 255);
    padding: 0%;



}
.question{

    background-color: rgb(145, 255, 255);
    padding: 10%;
    margin: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}



.choice{

    background-color: rgb(145, 255, 255);
    padding: 0%;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 0px;
}



.nav-header {

    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin-top: 0px;

}


#high-scores-button.highscores {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li.title {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


li#timer.timer {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.nav-header li {


    padding-left: 5%;
    padding-right: 5%;


}